{% extends "base.html" %}
{% set title = "Home" %}
{% set description = "MelodyKit - All your music, in one place." %}
{% set gradient = "/static/images/gradient.svg" %}

{% block body %}

{{ super() }}

<header>
  <a href="#"><img src="{{ gradient }}"></img></a>
  <div>MelodyKit</div>
  <button><a class="font-mono" href="/login">Login</a></button>
  <a href="/github"><i class="fab fa-github"></i></a>
  <a href="/discord"><i class="fab fa-discord"></i></a>
  <a href="/twitter"><i class="fab fa-twitter"></i></a>
  <a href="/youtube"><i class="fab fa-youtube"></i></a>
  <a href="/reddit"><i class="fab fa-reddit-alien"></i></a>
</header>

<h1 class="text-5xl lg:text-8xl">
  All <span class="text-transparent bg-clip-text bg-gradient-to-b from-melody-purple to-melody-blue">your</span> music,
  <br>in <span class="text-transparent bg-clip-text bg-gradient-to-b from-melody-purple to-melody-blue">one</span> place.
</h1>

{% endblock %}
